@import '../variables.scss';

.contact {
    background: linear-gradient(to right, #cbcaa5, #334d50);
    &__title {
        display: flex;
        justify-content: center;
        padding-top: 20px;

        @media (max-width: 580px) {
            font-size: 20px;
          }
    }
}