.error {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: red;
    font-family: 'Montserrat', sans-serif;
    height: 600px;
    &__number {
        font-size: 500%;
        padding: 0;
        margin: 0;
        @media (max-width: 768px) {
            font-size: 700%;
        }
    }
    &__msg {
        font-weight: 500;
        padding: 30px;
        @media (max-width: 768px) {
            margin-left: 30px;
        }
    }
    &__return {
        color: black;
        text-decoration: none;
        font-size: small;
        padding: 30px;
    }
    @media (max-width: 768px) {

    }
}