@import '../variables.scss';

.footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
    padding-top: 20px;
    font-family: $main-text;
    &__medias {
        color: white;
        font-size: 200%;
        &__icon {
            padding: 10px;
            color: white;
        }
    }
    &__copyrights {
        padding-bottom: 10px;
    }
}

