.footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
    &__medias {
        color: white;
        font-size: 200%;
        &__icon {
            padding: 10px;
        }
    }
}