@import '../variables.scss';

.country {
    font-family: $main-text;
    font-size: 70px;
    display: flex;
    justify-content: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 20px;
    width: 100%;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;

    &__item {
        position: relative;
    }

    &__card {
        position: relative; /* Allows positioning of child elements */
        border-radius: 20px;
        cursor: pointer;
        padding: 0;
        margin-bottom: 15px;
        height: 200px;
        width: 300px;
        overflow: hidden; /* Ensures content does not overflow */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ensures the image covers the entire card */
    }

    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -80%); /* Centers the title */
        font-family: $main-text;
        font-weight: 400;
        font-size: 20px;
        color: white;
        background-color: black;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
    }

    &__overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        transform: translateY(100%);
        transition: transform 0.3s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center; /* Center items vertically */
    }

    &__card:hover .gallery__overlay {
        transform: translateY(0);
    }

    &__map {
        width: auto;
        height: 100%;
        max-height: 100%; /* Ensures the map image fits within the overlay */
        max-width: 100%; /* Ensures the map image fits within the overlay */
        margin: 0 auto; /* Centers the image horizontally */
    }
}