@import '../variables.scss';

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 310px;
  font-family: $main-text;
  background-color: burlywood;
  justify-content: space-between;
  padding: 0 30px; // Ajoutez un padding pour l'espacement sur les côtés
  
  &__logo-container {
    display: flex;
    align-items: center;
  }
  
  &__logo {
    border-radius: 20px;
    height: 250px;
  }
  
  &__navbar-container {
    display: flex;
    align-items: center;
  }

  &__navbar {
    list-style-type: none;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 0; // Remove padding to prevent spacing issues
    margin-right: 30px;
    &__txt {
      color: black;
      &.active {
        text-decoration: underline;
        text-decoration-color: black;
      }
    }
  }
}
