@import '../variables.scss';

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 310px;
  font-family: $main-text;
  background: linear-gradient(to right, #cbcaa5, #334d50);
  justify-content: space-between;
  padding: 0 30px; 

  @media (max-width: 580px) {
    height: 120px; 
    padding: 0 10px;
}
  
  &__logo-container {
    display: flex;
    align-items: center;
  }
  
  &__logo {
    border-radius: 20px;
    height: 250px;

    @media (max-width: 1000px) {
      height: 200px; 
  }

  @media (max-width: 830px) {
    height: 150px; 
}

    @media (max-width: 580px) {
      height: 100px; 
  }

  @media (max-width: 400px) {
    height: 80px; 
}
  }
  
  &__navbar-container {
    display: flex;
    align-items: center;
  }

  &__navbar {
    list-style-type: none;
    font-size: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 50px;
    padding: 0; 
    margin-right: 30px;
    margin-top: 10px;

    @media (max-width: 580px) {
      gap: 10px; 
      margin-top: 15px;
      justify-content: flex-end;
      display: flex;
      margin-right: 10px;
  }

    @media (max-width: 1000px) {
      gap: 40px;
    }

    @media (max-width: 830px) {
      gap: 20px;
    }

    &__txt {
      color: white;
      &.active {
        text-decoration: underline;
        text-decoration-color: white;
      }
      @media (max-width: 580px) {
        font-size: 14px; 
    }

      @media (max-width: 400px) {
        font-size: 12px; 
    }      
    }
  }
}
