@import '../variables.scss';

.logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 60px;
    width: 100%;
    
    &__level {
        width: 100%;
        margin-left: 30px;
    }

    &__teams {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 70px;
        width: 100%;
    }

    &__club {
        margin: 20px;
        width: calc(20% - 40px); // Adjust width to consider margins
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
            margin: 10px 0 5px;
            font-weight: 600;
            font-size: 20px;
            color: white;
            text-align: center;
        }

        &__content {
            background-color: white;
            border-radius: 10px;
            border: solid 1px black;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }

        &__img {
            width: 100%;
            height: auto;
            object-fit: contain;
            border-radius: inherit;
            padding: 5px;
        }
    }
}
