@import '../variables.scss';

.logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 60px;
    width: 100%;
    
    &__level {
        width: 100%;
        margin-left: 30px;

        @media (max-width: 580px) {
            font-size: 15px;
            justify-content: center;  
            align-items: center;  
            display: flex;     
            margin-left: 0;   
        }
        
    }

    &__teams {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;        
        width: 100%;

        @media (max-width: 580px) {
            justify-content: space-around;            
        }
    }

    &__club {
        margin: 20px;
        width: calc(20% - 40px); 
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 580px) {
            margin: 5px;  
            width: calc(20% - 20px);          
        }

        &__title {
            margin: 10px 0 5px;
            font-weight: 600;
            font-size: 20px;
            color: white;
            text-align: center;

            @media (max-width: 900px) {
                font-weight: 400;
                font-size: 15px;
            }

            @media (max-width: 580px) {
                font-weight: 400;
                font-size: 10px;
                margin: 5px 0 5px;
            }
        }

        &__league {
            width: 100%;
            height: 50px;
            object-fit: contain;
            border-radius: inherit;

            @media (max-width: 900px) {
                height: 25px;
            }

            @media (max-width: 580px) {
                height: 15px;
            }
        }

        &__content {
            width: 100%;
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;

            @media (max-width: 580px) {
                padding: 0;
                height: 80px;
                background-color: transparent;
                border: 0;
                border-radius: 0;
            }
        }

        &__img {
            width: 100%;
            height: 150px;
            object-fit: contain;
            border-radius: inherit;

            @media (max-width: 1100px) {
                height: 100px;
            }

            @media (max-width: 900px) {
                height: 50px;
            }

            @media (max-width: 580px) {
                height: 70px;
            }
        }
    }
}
