@import '../variables.scss';

.players {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;

  @media (max-width: 580px) {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;

    @media (max-width: 580px) {
      padding: 10px;
    }

    &__img {
      height: 350px;
      width: 100%;
      object-fit: contain;

      @media (max-width: 580px) {
        height: 100px;
      }
    }
    &__title {
      background-color: maroon;
      color: gold;
      padding-top: 10px;
      font-weight: 600;
      padding: 4px;
      margin-top: 5px;
      border: 2px goldenrod;

      @media (max-width: 580px) {
        font-size: 10px;
      }
    }
  }
}
