@import '../variables.scss';

.state {
    &__title {
        display: flex;
        font-family: $main-text;
        justify-content: center;
        font-size: 70px;
        padding-top: 30px;
        padding-bottom: 30px;

        @media (max-width: 580px) {
          font-size: 40px; 
          padding-top: 10px;
          padding-bottom: 10px;
      }
    }
    &__title-container {
        margin: 20px;
        justify-content: center;
        display: flex;
        padding-top: 20px;

        @media (max-width: 580px) {
          font-size: 20px;   
      }
    }

    &__logos {
      background-color: $main-color;
    }

    &__players {
      background-color: $main-color;
    }

    &__navbar {
      background-color: #333;
      padding: 1rem;
      position: sticky;
      top: 0;
      z-index: 10;
      margin-bottom: 0;

      @media (max-width: 580px) {
        position: fixed; // fixe la navbar
        bottom: 0; // la place en bas de l'écran
        top: unset; // enlève la propriété "top"
        width: 100%; // fait en sorte qu'elle prenne toute la largeur de l'écran
      }
  
      &__list {
        list-style: none;
        display: flex;
        justify-content: space-around;
        margin-bottom: 0;

        @media (max-width: 580px) {
          padding-left: 0; 
      }
      }
    
      &__title {
        display: inline;   

        @media (max-width: 580px) {
           
      }
        
        &__logo {
          margin-right: 10px;
        }
      }

      &__gallery-title {
        display: inline; 
        background-color: chocolate;
        border-radius: 10px;               
      }
      }
    
      a {
        color: white;
        text-decoration: none;
        padding: 1rem 1rem;
        font-size: 1.7rem;
    
        &:hover {
          background-color: #555;
          border-radius: 5px;
        }

        @media (max-width: 580px) {
          font-size: 12px; 
      }
}
}