@import '../variables.scss';

.state {
    &__title {
        display: flex;
        font-family: $main-text;
        justify-content: center;
        font-size: 70px;
        padding-top: 30px;
    }
    &__title-container {
        margin: 20px;
        justify-content: center;
        display: flex;
    }
}